REACT_APP_DB_HOST=http://localhost:5050
REACT_APP_FILE_EXT=.doc,.docx,.pdf
REACT_APP_TOOL_PREFIX=/tool
REACT_APP_LLM_PREFIX=/llm
REACT_APP_MAX_FILES=6
REACT_APP_MAX_TOTAL_SIZE_MB=50
GENERATE_SOURCEMAP=false